<div class="content">
	<!-- BRSPageBundle:Content:default.html.twig -->
	{% if content.header %}<h2>{{ content.header }}</h2>{% endif %}
	{% if content.body %}<span class="body">{{ content.body | raw }}</span>{% endif %}
</div>